.Details {
  text-align: center;
  margin: 1% 5%;
}

.go-back {
  margin: 10px auto auto 10px;
  float: left;
  padding: 7px 8px 3px 8px;
  font-weight: 100;
  font-size: 20px;
}

.city-name-details {
  font-weight: 300;
}