.Footer {
  text-align: center;
  z-index: 5;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  padding: 7px 0px;
  -webkit-box-shadow: rgb(0, 0, 0) 0px -2px 7px -5px;
  box-shadow: rgb(0, 0, 0) 0px -2px 7px -5px;
  border-radius: 5px 5px 0px 0px;
}

.logo {
  height: 20px;
  width: 20px;
  opacity: 0.7;
}