.heading {
  padding: 10px 0px 15px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.81) 0px 1px 9px -5px;
  box-shadow: rgba(0, 0, 0, 0.81) 0px 1px 9px -5px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 7px;
  background-color: white;
}

.header {
  padding-top: 23px;
  font-size: 55px;
  height: 61px;
  margin: 0px;
  min-width: 200px;
  font-family: 'Courgette', cursive;
}

.sub-header {
  margin: 0px;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 4px;
}

.whether-logo {
  height: 50px;
  right: 0;
  left: 0;
  margin: auto;
  top: 3px;
  position: absolute;
  width: 50px;
}